<ion-tabs #footer (ionTabsDidChange)="updateFooterIcons($event.tab)" mode="md">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="board">
      <ion-icon [name]="board"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon [name]="library"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="lists">
      <ion-icon [name]="lists"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [name]="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
