<ng-container *transloco="let t">

  <ion-content>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button size="small" color="light">
        <ion-back-button defaultHref="/settings" icon="close" mode="md"></ion-back-button>
      </ion-fab-button>
    </ion-fab>

    <div class="column-container">
  
      <h2> {{ t('legal.title') }} </h2>
  
      <div class="legal-layout">
  
        <div class="terms">
          <h3> {{ t('legal.terms.title') }} </h3>
          <p> {{ t('legal.terms.first') }} </p>
          <ul>
            <li> {{ t('legal.terms.second') }} </li>
            <li> {{ t('legal.terms.third') }} </li>
            <li> {{ t('legal.terms.fourth') }} </li>
          </ul>
          <p> {{ t('legal.terms.fifth') }} </p>
          <p> {{ t('legal.terms.sixth') }} </p>
          <p> {{ t('legal.terms.seventh') }} </p>
          <p> {{ t('legal.terms.eighth') }} </p>
        </div>
      
        <div class="security">
          <h3> {{ t('legal.security.title') }} </h3>
          <p> {{ t('legal.security.first') }} </p>
          <p> {{ t('legal.security.second') }} </p>
        </div>
      
        <div class="personal">
          <h3> {{ t('legal.personal.title') }} </h3>
          <p> {{ t('legal.personal.first') }} </p>
        </div>
      
        <div class="contents">
          <h3> {{ t('legal.contents.title') }} </h3>
          <p> {{ t('legal.contents.first') }} </p>
          <p> {{ t('legal.contents.second') }} </p>
          <p> {{ t('legal.contents.third') }} </p>
          <p> {{ t('legal.contents.fourth') }} </p>
          <p> {{ t('legal.contents.fifth') }} </p>
        </div>
      
        <div class="cookies">
          <h3> {{ t('legal.cookies.title') }} </h3>
          <p> {{ t('legal.cookies.first') }} </p>
          <p> {{ t('legal.cookies.second') }} </p>
          <ul>
            <li> {{ t('legal.cookies.third') }} </li>
            <li> {{ t('legal.cookies.fourth') }} </li>
            <li> {{ t('legal.cookies.fifth') }} </li>
            <li> {{ t('legal.cookies.sixth') }} </li>
          </ul>
        </div>
      
        <div class="links">
          <h3> {{ t('legal.links.title') }} </h3>
          <p> {{ t('legal.links.first') }} </p>
          <p> {{ t('legal.links.second') }} </p>
          <p> {{ t('legal.links.third') }} </p>
          <p> {{ t('legal.links.fourth') }} </p>
          <p> {{ t('legal.links.fifth') }} </p>
        </div>
      
        <div class="property">
          <h3> {{ t('legal.property.title') }} </h3>
          <p> {{ t('legal.property.first') }} </p>
          <p> {{ t('legal.property.second') }} </p>
        </div>
      
        <div class="limited">
          <h3> {{ t('legal.limited.title') }} </h3>
          <p> {{ t('legal.limited.first') }} </p>
          <p> {{ t('legal.limited.second') }} </p>
          <p> {{ t('legal.limited.third') }} </p>
          <p> {{ t('legal.limited.fourth') }} </p>
        </div>
      
        <div class="jurisdiction">
          <h3> {{ t('legal.jurisdiction.title') }} </h3>
          <p> {{ t('legal.jurisdiction.first') }} </p>
          <p> {{ t('legal.jurisdiction.second') }} </p>
        </div>
      
        <div class="contact">
          <h3> {{ t('legal.contact.title') }} </h3>
          <p> {{ t('legal.contact.first') }} </p>
        </div>
      
      </div>
  
    </div>
  
  </ion-content>

</ng-container>
