<ng-container *transloco="let t">

  <ion-header mode="ios">
    <ion-toolbar mode="ios" color="light">
      <ion-title> {{ t('settings.title') }} </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-list mode="ios">

      <ion-list-header> {{ t('settings.appTheme') }} </ion-list-header>
  
      <ion-radio-group name="theme" [value]="isDarkModeEnabled" (ionChange)="onChangeDarkMode($event)">
  
        <ion-item lines="none">
          <ion-label> {{ t('settings.light') }} </ion-label>
          <ion-radio [value]="false"></ion-radio>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label> {{ t('settings.dark') }} </ion-label>
          <ion-radio [value]="true"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
  
    </ion-list>

    <ion-list mode="ios">

      <ion-list-header> {{ t('settings.appLanguage') }} </ion-list-header>
  
      <ion-radio-group name="language" [value]="languageSelected" (ionChange)="onChangeLanguage($event)">
  
        <ion-item lines="none">
          <ion-label> {{ t('settings.languages.spanish') }} </ion-label>
          <ion-radio value="es"></ion-radio>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label> {{ t('settings.languages.english') }} </ion-label>
          <ion-radio value="en"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
  
    </ion-list>
  
  </ion-content>

</ng-container>
