<ion-content *transloco="let t">

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="small" color="light">
      <ion-back-button defaultHref="/library" icon="close"></ion-back-button>
    </ion-fab-button>
  </ion-fab>

  <div class="header-skeleton" *ngIf="isLoading">
    <app-header-skeleton [isStatusBarVisible]="isStatusBarVisible"></app-header-skeleton>
  </div>

  <div class="header-container" *ngIf="!isLoading">

    <div class="background-image-container">
      <img [src]="game?.image" [alt]="game?.name" *ngIf="isGameDataLoaded" />
    </div>

    <div class="header">

      <div class="parent-platforms">
        <ion-icon [name]="parentPlatform.icon" *ngFor="let parentPlatform of game?.parentPlatforms"
          (click)="onClickModifyParentPlatform(parentPlatform)"
          [ngClass]="{ 'selected': parentPlatform.isSelected }">
        </ion-icon>
      </div>
    
      <ion-label class="title"> {{ game?.name }} </ion-label>

      <div class="status-bar" *ngIf="isGameDataLoaded && isStatusBarVisible">

        <div class="status-bar-first-row">

          <div class="user-score" (click)="onClickChangeUserScore()">
            <ion-icon name="person"></ion-icon>
            <label> {{ t('game.myScore') }} </label>
            <div class="score" [ngClass]="game?.score?.color"> {{ game?.score?.value ?? '-' }} </div>
          </div>

          <ion-chip [ngClass]="game?.status" (click)="optionsPopover.present()" outline="true" color="danger" *ngIf="game?.status === statusEnum.notStarted">
            <ion-icon [name]="'stop-outline'"></ion-icon>
            <ion-label> {{ t('game.' + game?.status) }} </ion-label>
          </ion-chip>

          <ion-chip [ngClass]="game?.status" (click)="optionsPopover.present()" outline="true" color="primary" *ngIf="game?.status === statusEnum.playing">
            <ion-icon [name]="'play-outline'"></ion-icon>
            <ion-label> {{ t('game.' + game?.status) }} </ion-label>
          </ion-chip>

          <ion-chip [ngClass]="game?.status" (click)="optionsPopover.present()" outline="true" color="warning" *ngIf="game?.status === statusEnum.paused">
            <ion-icon [name]="'pause-outline'"></ion-icon>
            <ion-label> {{ t('game.' + game?.status) }} </ion-label>
          </ion-chip>

          <ion-chip [ngClass]="game?.status" (click)="optionsPopover.present()" outline="true" color="success" *ngIf="game?.status === statusEnum.completed">
            <ion-icon [name]="'checkmark-outline'"></ion-icon>
            <ion-label> {{ t('game.' + game?.status) }} </ion-label>
          </ion-chip>
  
          <ion-popover #optionsPopover [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item lines="full" (click)="onClickUpdateGameStatus(statusEnum.notStarted)">
                    <ion-icon color="primary" slot="start" name="stop-outline"></ion-icon>
                    <ion-label slot="end"> {{ t('game.notStarted') }} </ion-label>
                  </ion-item>
                  <ion-item lines="full" (click)="onClickUpdateGameStatus(statusEnum.playing)">
                    <ion-icon color="primary" slot="start" name="play-outline"></ion-icon>
                    <ion-label slot="end"> {{ t('game.playing') }} </ion-label>
                  </ion-item>
                  <ion-item lines="full" (click)="onClickUpdateGameStatus(statusEnum.paused)">
                    <ion-icon color="primary" slot="start" name="pause-outline"></ion-icon>
                    <ion-label slot="end"> {{ t('game.paused') }} </ion-label>
                  </ion-item>
                  <ion-item lines="none" (click)="onClickUpdateGameStatus(statusEnum.completed)">
                    <ion-icon color="primary" slot="start" name="checkmark-outline"></ion-icon>
                    <ion-label slot="end"> {{ t('game.completed') }} </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>

        </div>

        <div class="status-bar-second-row">

          <ion-slides>

            <ion-slide *ngFor="let note of game?.notes; let i = index" (click)="onClickShowNote(note, i)">
              <div class="slide">
                <p> {{ note }} </p>
              </div>
            </ion-slide>

            <ion-slide (click)="onClickShowNote()">
              <div class="slide add-slide">
                <ion-icon color="warning" name="add"></ion-icon>
                <ion-label color="warning"> {{ t('game.addNote') }} </ion-label>
              </div>
            </ion-slide>

          </ion-slides>

        </div>
        
      </div>

    </div>

  </div>

  <div class="about-skeleton" *ngIf="isLoading">
    <app-about-skeleton></app-about-skeleton>
  </div>

  <div class="about-container" *ngIf="!isLoading">

    <div class="row">
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.description') }} </h3>
          <p [innerHTML]="game?.description" class="ion-text-break-spaces"></p>
        </ion-label>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.platforms') }} </h3>
          <p *ngFor="let platform of game?.platforms"> {{ platform?.name }} </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.metascore') }} </h3>
          <div class="metascore" [ngClass]="game?.metascore.color"> {{ game?.metascore.value ?? '-' }} </div>
        </ion-label>
      </ion-item>
    </div>
    
    <div class="row">
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.genres') }} </h3>
          <p *ngFor="let genre of game?.genres"> {{ t('genres.' + genre?.slug) }} </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.releaseDate') }} </h3>
          <p> {{ game?.releaseDate }} </p>
        </ion-label>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.developer') }} </h3>
          <p *ngFor="let developer of game?.developers"> {{ developer?.name }} </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h3> {{ t('game.publisher') }} </h3>
          <p *ngFor="let publisher of game?.publishers"> {{ publisher?.name }} </p>
        </ion-label>
      </ion-item>
    </div>

    <div class="row">
      <ion-item lines="none" *ngIf="game?.esrb !== null">
        <ion-label>
          <h3> {{ t('game.ageRating') }} </h3>
          <p> <img [src]="'../../../assets/images/esrb/' + game?.esrb?.slug + '.svg'" [name]="game?.esrb?.name"> </p>
        </ion-label>
      </ion-item>
    </div>

  </div>

  <app-note-builder #noteBuilder (noteEventEmitter)="onClickSaveNote($event)"></app-note-builder>

</ion-content>
