<ion-card (click)="onClickNavigateToGame(game.id)" *transloco="let t">

  <ion-card-content>
    
    <div class="custom-content">

      <div class="image-container">
        <img [src]="game?.image" [alt]="game.name" />
      </div>
      
      <div class="information-container">
  
        <div class="title-section">

          <div class="parent-platforms">
            <ion-icon [name]="parentPlatform.icon" *ngFor="let parentPlatform of game?.parentPlatforms"
              [ngClass]="{ 'selected': parentPlatform.isSelected }">
            </ion-icon>
          </div>

          <div class="title">
            <ion-label> {{ game?.name }} </ion-label>
          </div>

        </div>

        <div class="status-section">

          <div class="status" *ngIf="isStatusBarVisible">

            <ion-icon name="stop" color="danger" *ngIf="game?.status === statusEnum.notStarted"></ion-icon>
            <ion-icon name="play" color="primary" *ngIf="game?.status === statusEnum.playing"></ion-icon>
            <ion-icon name="pause" color="warning" *ngIf="game?.status === statusEnum.paused"></ion-icon>
            <ion-icon name="checkmark" color="success" *ngIf="game?.status === statusEnum.completed"></ion-icon>
            
            <div class="notes-container" *ngIf="game.notes?.length > 0">
              <ion-label color="warning"> {{ game.notes.length }} </ion-label>
              <ion-icon name="clipboard-outline" color="warning"></ion-icon>
            </div>

          </div>

          <ion-fab-button mode="ios" [color]="isGameOnAnyList() ? 'success' : 'primary'"
            size="small" (click)="onClickAddToListButton($event, game)" *ngIf="addToList">
            <ion-icon [name]="isGameOnAnyList() ? 'md-list-check' : 'list'"></ion-icon>
          </ion-fab-button>

        </div>
  
      </div>

    </div>

  </ion-card-content>
  
</ion-card>
